.card-container {
  height: 420px;
  width: 500px;
  perspective: 800px;
  position: relative;
  margin: auto;
  transition: ease-in;
  margin-top: 5%;
}

.card {
  height: 350px;
  width: 500px;
  border: 0;
  transform-style: preserve-3d;
  transition: all 0.4s ease-in-out;
}

.card_active {
  transform: rotateY(180deg);
  transition: all 0.4s ease-in-out;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.card .front {
  height: 350px;
  width: 500px;
  backface-visibility: hidden;
  position: absolute;
  overflow: hidden;
  text-align: center;
  background-image: url("../images/flashcard.jpg");
  background-size: 101%;
  background-repeat: no-repeat;
}

.card .back {
  height: 350px;
  width: 500px;
  text-align: center;
  transform: rotateY(180deg);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.eng,
.han {
  color: #333;
  font-size: 4em;
  padding-top: 85px;
  line-height: 1.1em;
}

.pin {
    color: rgba(200, 10, 10, 1);
    font-size: 2em;
}

.microphone {
  background-image: url("../images/microphone.jpg");
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
  background-size: 100%;
  cursor: pointer;
  margin: auto;
  margin-bottom: 10px;
  opacity: 0.5;
  clear: both;
}

.microphone-active {
  background-image: url("../images/microphone-active.jpg") !important;
}

.microphone:hover {
  opacity: 1;
}

.fireworks {
  margin-left: 30%;
}

body.black {
  background-color: #000;
}

.final {
  margin-left: 30%;
  margin-top: 3%;
  margin-bottom: 3%;
}

.goto-dashboard {
  margin-left: 22%;
  margin-top: 3%;
}
