.modal {
  color: #000;
}

.modal .btn-group {
  width: 100%;
}

.modal .btn-group button {
  width: 50%;
}

.modal .gray {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: #000;
  opacity: 0.85;
  z-index: 30;
}

.modal-content {
  z-index: 50;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 5%;
  width: 80%;
}

.close {
  position: absolute;
  top: 5px;
  right: 10px;
  z-index: 99;
}

/* Full-width input fields */
.modal input[type=text],
.modal input[type=password] {
  width: 100%;
  padding: 10px;
  margin: 0px 0 20px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

.modal input[type=text]:focus,
.modal input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

.modal hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for all buttons */
.modal button {
  padding: 14px 20px;
  margin: 8px 0;
  cursor: pointer;
}

.modal button:hover {
  opacity: 1;
}

/* Add padding to container elements */
.modal .container {
  padding: 16px;
}

/* Clear floats */
.modal .clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
  .modal .cancelbtn,
  .modal .signupbtn {
    width: 100%;
  }
}

#error-message {
  display: none;
}

#error-message.error-message {
  display: block;
  color: red;
  font-weight: bold;
}