.vertical-center {
  display: flex;
  justify-content:center;
  align-items: center;
}

/* meat of the matter */
.row {
    display: flex;
    width: 100%;
}

.calendar {
    display: block;
    background: #FFFFFF;
    width: 300px;
    border: solid 1px #ccc;
    margin: 10px auto;
    box-shadow: 0 0 15px 0 #C0C0C0;
    font-size: 1.3rem;
    text-align: center;
}

.week {
  border-top: solid 1px #ccc;
}

.week:first-child {
  border-top: none;
}

.day-names {
  color: #2875C7;
  font-weight: bold;
  cursor: default;
  font-size: 1.2rem;
}

.day-names .day {
  cursor: default;
}

.day-names .day:hover {
  background: inherit;
}

.day {
  flex: 1;
  height: 35px;
  border-left: solid 1px #ccc;
  cursor: pointer;
  transition: all .2s;
}

.day:first-child {
  border-left:none;
}

.day.today {
  background: lighten(#2875C7,45%);
}

.day.different-month {
  color: #C0C0C0;
}

.day.selected {
  background: #2875C7;
  color: #fff;
}

.day:hover {
  background: #efefef;
}

header {
  color: #fff;
  cursor: default;
  font-size: 1.4rem;
  display: block;
  font-weight: bold;
  text-transform: uppercase;
  user-select: none;
}

header .month-display {
  align-items: center;
  height: 40px;
  background: #2875C7;
}

header .month-label { 
 flex: 1;
}

header .arrow {
  text-align: center;
  flex-basis: 15%;
  font-weight: bold;
  cursor: pointer;
  transition: background .2s;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

header .arrow:hover {
  background: darken(#2875C7, 10%);
}
