
/* Full-width input fields */
.create-card input[type=text] {
  width: 100%;
  padding: 10px;
  margin: 0px 0 20px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

.create-card input[type=text]:focus {
  background-color: #ddd;
  outline: none;
}

.create-card #frontText,
.create-card #backText {
  margin-right: 1%;
  background: url("flashcard.jpg") transparent;
  height: 289px;
  background-size: 100%;
  background-repeat: no-repeat;
  padding: 25px;
  text-align: center;
  width: 434px;
  font-size: 20px;
  line-height: 18px;
  margin-left: 33%;
}

.create-card #discardButton {
  margin-right: 1%;
}

.turn-around {
  background-image: url('turnaround.jpg');
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
  background-size: 100%;
  margin: auto;
  margin-top: 15px;
  cursor: pointer;
}
