.modal {
  color: #000;
}

.modal-content {
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 5%;
  width: 80%;
}

/* Full-width input fields */
.modal input[type=text],
.modal input[type=password] {
  width: 100%;
  padding: 10px;
  margin: 0px 0 20px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

.modal input[type=text]:focus,
.modal input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

.modal hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for all buttons */
.modal button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.modal button:hover {
  opacity: 1;
}

/* Extra styles for the cancel button */
.modal .cancelbtn {
  padding: 14px 20px;
  background-color: #f44336;
}

/* Float cancel and signup buttons and add an equal width */
.modal .cancelbtn,
.modal .signupbtn {
  float: left;
  width: 50%;
}

/* Add padding to container elements */
.modal .container {
  padding: 16px;
}

/* Clear floats */
.modal .clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
  .modal .cancelbtn,
  .modal .signupbtn {
    width: 100%;
  }
}

#error-message {
  display: none;
}

#error-message.error-message {
  display: block;
  color: red;
  font-weight: bold;
}